<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
  <div>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/home">Home</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink ="/sales/SalesInvoices">Izlazne fakture</a>
          </li>
          <li>
              <a routerLink ="/purchase/PurchInvoices">Ulazne fakture</a>
          </li>
          <li>
              <a routerLink="/customer/customers">Kupci</a>
          </li>
          <li>
              <a routerLink="/vendor/vendors">Dobavljači</a>
          </li>
          
          <li>
              <button mat-button (click)="onLogout()">Logout</button>
          </li>
          <li>
            <button (click)="onToggleTheme()" class="toggleButton" mat-raised-button color="primary">Promeni Temu</button>
          </li>
          
      </ul>
  </div>
</mat-toolbar>
