<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="EmployeeID" #EmployeeID = "ngModel" [(ngModel)] ="service.formData.EmployeeID">
  <div class="form-group">
    <label>Ime i Prezime</label>
    <input name="FullName" #FullName="ngModel" [(ngModel)]="service.formData.FullName" class="form-control" required>
    <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">Ovo polje je obavezno.</div>
  </div>
  <div class="form-group">
      <label>Pozicija</label>
      <input name="Position" #Position="ngModel" [(ngModel)]="service.formData.Position" class="form-control">
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>Šifra zaposlenog</label>
          <input name="EMPCode" #EMPCode="ngModel" [(ngModel)]="service.formData.EMPCode" class="form-control">
      </div>
      <div class="form-group col-md-6">
          <label>Mobilni Telefon</label>
          <input name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" class="form-control">
      </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Sačuvaj</button>
  </div>          
</form>