<div class="invoice-box" *ngIf="customer">
  <table cellpadding="0" cellspacing="0" class="first-table">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <img src="/assets/img/AtomicSpedPrint.jpg" style="width:50%; max-width:250px; height: 100px;">
            </td>
            <td style="text-align: left;">
              <strong>Company for transport, freight forwarding and logistics</strong><br>
              <strong>Prvomajska 52, RS-15000 Šabac</strong><br>
              <strong>Identification number 21417408</strong><br>
              <strong>VAT 111040511</strong><br>
              <strong>www.atomic-sped.rs ; office@atomic-sped.rs</strong>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table class="custHeader">
          <tr>
            <td class="item">
              <p class="invoice-number"><span>INVOICE:</span> {{this.service.formData.invoiceNo}}</p>
              <p><strong><span>Date of invoice:</span> {{this.service.formData.postingDate.toString()  | localTime}}</strong></p>
              <p><strong><span>Date of payment value:</span> {{this.service.formData.dueDate.toString() | localTime}}</strong></p>
            </td>

            <td class="item">
              <div class="customer-header-data">
                {{this.customer.name}}<br>
                {{this.customer.address}}<br>
                {{this.customer.country}}<br>
                VAT: {{this.customer.vatNumber}}<br>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td >
        <table class="custHeader2">
          <tr>
            <td class="item-3col1">

              <p><strong><span>Load date:</span> {{this.service.formData.loadDate.toString() | localTime}}</strong></p>
              <p><strong><span>Unload date:</span> {{this.service.formData.unloadDate.toString() | localTime}}</strong></p>
              <p><strong><span>Offer no.:</span> {{this.service.formData.externalReferenceNo}}</strong></p>
            </td>
            <td class="item-3col2">
              <p><strong><span>Pallets number:</span> {{this.service.formData.numberOfPallets}}</strong></p>
              <p><strong><span>Weight:</span> {{this.service.formData.bruttoWeight}}</strong></p>
              <p><strong><span>Load rep.:</span> {{this.service.formData.loadRepresentative}}</strong></p>
            </td>

            <td class="item-3col3">
              <p><strong><span>Plate number:</span> {{this.service.formData.vechicleRegistration}}</strong></p>
              <p><strong><span>CRM number:</span> {{this.service.formData.crmNumber}}</strong></p>
              <p><strong><span>Type of transport:</span> {{this.service.formData.remarks}}</strong></p>
            </td>

          </tr>
        </table>
      </td>
    </tr>

  </table>
  <div>
    <div class="span8 well invoice-body">
      <table class="table-bordered fixed" cellspacing="0">
        <colgroup>
          <col class="width60">
          <col class="width20">
          <col class="width20">
        </colgroup>
        <thead>
          <tr style="text-align:center">
            <th><strong>Description of charges</strong></th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lines of this.service.SalesInvLines" style="text-align:center">
            <td><strong>{{lines.description}}</strong></td>
            <td>{{lines.unitPrice | number:'1.2-2' :'de-DE'}}</td>
            <td style="text-align:right">{{lines.lineAmount | number:'1.2-2':'de-DE' }}</td>
          </tr>
          <tr class="no-border" style="text-align:right">
            <td colspan="2">TOTAL (euro)</td>
            <td colspan="3">{{this.service.formData.totalAmount |number: '1.2-2':'de-DE'}}</td>
          </tr>
          <tr class="no-border" style="text-align:right">
            <td colspan="2"><strong>TOTAL FOR PAYMENT</strong></td>
            <td colspan="3"><strong>{{this.service.formData.totalAmount |number: '1.2-2':'de-DE'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div>
    <p><strong>{{this.service.formData.taxLawText}}</strong></p>
    <br>
    <p><strong>Payment instructions :</strong></p>
    <p><strong>BANCA INTESA AD,BEOGRAD,REPUBLIKA SRBIJA</strong></p>
    <p><strong>SWIFT CODE:DBDBRSBG</strong></p>
    <p><strong>IBAN:RS3516 0005 3800 0432 9402</strong></p><br>

    <p><strong>BANKING PAYMENT TRANSACTION COST ARE ON YOUR ACCOUNT</strong></p>
    <br>
  </div>
  <footer class="stamp">
    <div>
      <p><strong>Belgrad {{this.service.formData.postingDate.toString() | localTime}}</strong></p>
    </div>
    <div class="stamp-line">
      <img src="/assets/img/Stamp.jpg" style="width:100%; ">
    </div>
  </footer>
</div>

