<div class="invoice-box">
  <table cellpadding="0" cellspacing="0" class="first-table">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <img src="/assets/img/AtomicSped.bmp" style="width:80%; max-width:350px; height: 170px;">
            </td>
            <td>
              <strong>Company for transport, freight forwarding and logistics</strong><br>
              <strong>Prvomajska 52, RS-15000 Šabac</strong><br>
              <strong>Identification number 21417408</strong><br>
              <strong>VAT 111040511</strong><br>
              office@atomic-sped.rs<br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table class="custHeader">
          <tr>
            <td class="item">
              <p class="invoice-number"><span>INVOICE:</span> {{this.service.formData.invoiceNo}}</p>
              <p><strong><span>Date of invoice:</span> {{this.service.formData.postingDate.toString()  | localTime}}</strong></p>
              <p><strong><span>Date of payment value:</span> {{this.service.formData.dueDate.toString() | localTime}}</strong></p>
              <br>
              <p><strong><span>Plate number:</span> {{this.service.formData.vechicleRegistration}}</strong></p>
              <p><strong><span>CMR number:</span>{{this.service.formData.crmNumber}}</strong></p>
              <p><strong><span>Good quantity: </span>{{this.service.formData.numberOfPallets}}; pallets, weight {{this.service.formData.bruttoWeight}}</strong> </p>
              <p><strong><span>Type of transport:</span> {{this.service.formData.remarks}}</strong></p>
            </td>

            <td class="item">
              <div class="customer-header-data">
                {{this.customer.name}}<br>
                {{this.customer.address}}<br>
                {{this.customer.country}}<br>
                VAT: {{this.customer.vatNumber}}<br>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="row">
    <div class="span8 well invoice-body">
      <table class="table-bordered" cellspacing="0" >
        <thead>
          <tr style="text-align:center">
            <th><strong>Description of charges</strong></th>
            <th>Price</th>
            <th>Total payment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lines of this.service.SalesInvLines" style="text-align:center">
            <td><strong>{{lines.description}}</strong></td>
            <td>{{lines.unitPrice | number:'1.2-2' :'de-DE'}}</td>
            <td style="text-align:right">{{lines.lineAmount | number:'1.2-2':'de-DE' }}</td>
          </tr>
          <tr class="no-border" style="text-align:right">
            <td colspan="2">TOTAL (euro)</td>
            <td colspan="3">{{this.service.formData.totalAmount |number: '1.2-2':'de-DE'}}</td>
          </tr>
          <tr class="no-border" style="text-align:right">
            <td colspan="2"><strong>TOTAL FOR PAYMENT</strong></td>
            <td colspan="3"><strong>{{this.service.formData.totalAmount |number: '1.2-2':'de-DE'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div>
    <p><strong>Transport order: {{this.service.formData.travelOrder}}</strong></p>
    <p><strong style="width: 200px">Loading date: {{this.service.formData.loadDate.toString() | localTime}}</strong></p>
    <p><strong style="width: 200px">Unloading date: {{this.service.formData.unloadDate.toString() | localTime}} </strong></p>
    <p><strong>{{this.service.formData.taxLawText}}</strong></p>
    <br>
    <div>
      <p style="font-weight: bold;">
        Original CMR is enclosed, as well as EX document. In case of payment delay, the <br>
        interest rate is 0,4% per day of above amount  till the day of actual payment. <br>
        All claims are beeing accepted until the moment when the truck is discharged.  <br>
      </p>
      <p style="font-weight: bold;">
        Payment instruction : <br>
        BANCA INTESA AD, BEOGRAD, REPUBLIKA SRBIJA <br>
        SWIFT CODE: DBDBRSBG <br>
        IBAN: RS3516 0005 3800 0432 9402 <br>
      </p>
      <p style="font-weight: bold;">
        BANKING PAYMENT TRANSACTION COST ARE ON YOUR ACCOUNT <br>
      </p>
    </div>
  </div>
  <footer class="stamp">
    <div>
      <p><strong>Belgrad {{this.service.formData.postingDate.toString() | localTime}}</strong></p>
    </div>
    <div class="stamp-line">
    _______________________________________________
    </div>
  </footer>
</div>
