<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Ažuriraj vozača</mat-card-title>
    <form [formGroup]="driverForm" autocomplete="off" novalidate (ngSubmit)="updateDriver(driverForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Ime i prezime" formControlName="name" id="name">
          <mat-hint align="end">Max. 50 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Ime je neophodno</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">Prekoračeno 50 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Adresa" formControlName="address">
          <mat-hint align="end">Max. 60 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('address', 'required')">Adresa je neophodna</mat-error>
          <mat-error *ngIf="hasError('address', 'maxlength')">Prekoračeno 60 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Broj LK" formControlName="personalIdNummber">
            <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('personalIdNummber', 'required')">Broj lične karte je neophodan</mat-error>
            <mat-error *ngIf="hasError('personalIdNummber', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pickeridexpirydate" placeholder="Datum važenja LK" formControlName ="personalIdExpDate">
          <mat-datepicker-toggle matSuffix [for]="pickeridexpirydate"></mat-datepicker-toggle>
          <mat-error *ngIf="hasError('personalIdExpDate','required')">Datum važenja lične karte je neophodan</mat-error>
          <mat-datepicker #pickeridexpirydate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Broj pasoša" formControlName="passNumber">
          <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('passNumber', 'required')">Broj pasoša je neophodan</mat-error>
          <mat-error *ngIf="hasError('passNumber', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pickerpassport" placeholder="Datum važenja pasoša" formControlName ="passExpDate">
          <mat-datepicker-toggle matSuffix [for]="pickerpassport"></mat-datepicker-toggle>
          <mat-error *ngIf="hasError('passExpDate','required')">Datum važenja pasoša je neophodan</mat-error>
          <mat-datepicker #pickerpassport></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Broj vozačke dozvole" formControlName="driversLicenceNumber">
          <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('driversLicenceNumber', 'required')">Broj vozačke dozvole je neophodan</mat-error>
          <mat-error *ngIf="hasError('driversLicenceNumber', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pickerdriverlicence" placeholder="Datum važenja vozačke dozvole" formControlName ="driversLicenceExpDate">
          <mat-datepicker-toggle matSuffix [for]="pickerdriverlicence"></mat-datepicker-toggle>
          <mat-error *ngIf="hasError('driversLicenceExpDate','required')">Datum važenja vozačke dozvole je neophodan</mat-error>
          <mat-datepicker #pickerdriverlicence></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Napomena" formControlName="remark">
          <mat-hint align="end">Max. 100 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('remark', 'maxlength')">Prekoračeno 100 karaktera</mat-error>
        </mat-form-field>

        <mat-checkbox matInput type="text" formControlName="isInactive">Deaktiviraj vozača</mat-checkbox>
      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!driverForm.valid">Izmeni</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Otkaži</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
