<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Dodaj novi kurs na dan</mat-card-title>
    <form [formGroup]="currencyExchangeForm" autocomplete="off" novalidate (ngSubmit)="createCurrencyExchange(currencyExchangeForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
          <mat-select formControlName="currencyId" placeholder="Valuta" >
            <mat-option>Izaberite</mat-option>
            <ng-container *ngFor="let currency of currencyList">
              <mat-option value="{{currency.id}}">{{currency.code}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('currencyId')">Valuta je neophodna</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pickerstartingDate" placeholder="Datum kursa" formControlName ="startingDate">
          <mat-datepicker-toggle matSuffix [for]="pickerstartingDate"></mat-datepicker-toggle>
          <mat-error *ngIf="isFieldInvalid('startingDate')">Datum kursa je neophodan</mat-error>
          <mat-datepicker #pickerstartingDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Kurs" formControlName="exchangeRateAmount">
          <mat-hint align="end">Vrednost valute u lokalnoj valuti</mat-hint>
          <mat-error *ngIf="isFieldInvalid('exchangeRateAmount')">Kurs je neophodan</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!currencyExchangeForm.valid">Kreiraj</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Otkaži</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
