<div class="wrapper">
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>Atomic Sped</h3>
		</div>


		<ul class="list-unstyled components">
			<p >Ponude po statusima:</p>
			<li class="active">
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a [routerLink]='["/counter"]'>Zahtev za ponudu</a>
					</li>
					<li>
						<a href="#">Ponuda</a>
					</li>
					<li>
						<a href="#">Realizacija</a>
					</li>
					<li>
						<a href="#">Odbijeno</a>
					</li>
					<li>
						<a href="#">Fakturisano</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="#">Putni nalozi</a>
			</li>
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Finansije</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="#">Ulazne Fakture</a>
					</li>
					<li>
						<a href="#">Izlazne Fakture</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Šifarnici</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a [routerLink]='["/customers"]'>Kupci</a>
					</li>
					<li>
						<a href="#">Dobavljači</a>
					</li>
					<li>
						<a href="#">Vozila</a>
					</li>
					<li>
						<a href="#">Zaposleni</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Izveštaji</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="#">Dospela potraživanja</a>
					</li>
					<li>
						<a href="#">Dospele obaveze</a>
					</li>
					<li>
						<a href="#">Pregled putnih naloga</a>
					</li>
					<li>
						<a href="#">Pregled ponuda</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Contact Us</a>
			</li>
		</ul>

		<ul class="list-unstyled CTAs">
			<li>
				<a href="#" class="download">Dodatno</a>
			</li>
			<li>
				<a href="#" class="article">Srodni linkovi</a>
			</li>
		</ul>
	</nav>

	<div class="content">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<button type="button" id="sidebarCollapse" class="btn btn-info">
				<i class="fa fa-align-justify"></i> <span>Sakrij meni</span>
			</button>

			<!--<a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link 2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link 3</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Onemoguceno</a>
					</li>
				</ul>
			</div>
		</nav>

		<!--div class="jumbotron jumbtron-fluid">
			<h3 class="display-4 text-center"><img src="./assets/img/Atomic.jpg"></h3>
			<h3 class="display-4 text-center">Transport Company</h3>
		</div>-->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"></script>

		<script>
			$(document).ready(function () {
				$('#sidebarCollapse').on('click', function () {
					$('#sidebar').toggleClass('active');
				});
			});  
		</script>