<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Kreiraj novog korisnika</mat-card-title>
    <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="createUser(userForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
            <input matInput type="text" placeholder="Ime i prezime" formControlName="name" id="name">
            <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Ime i prezime je neophodno</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Korisničko ime" formControlName="username" id="username">
          <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('username', 'required')">Korisničko ime je neophodno</mat-error>
          <mat-error *ngIf="hasError('username', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Šifra" formControlName="password">
          <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('password', 'required')">Šifra je neophodna</mat-error>
          <mat-error *ngIf="hasError('password', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
        </mat-form-field>

        <mat-checkbox matInput type="text" formControlName="isAdmin">Administrator</mat-checkbox>
        <mat-checkbox matInput type="text" formControlName="isInactive">Deaktiviraj korisnika</mat-checkbox>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!userForm.valid">Kreiraj</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Otkaži</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
