<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/customer/customers" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Kupci</span>
  </a>
  <a mat-list-item routerLink="/vendor/vendors" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Dobavljači</span>
  </a>
  <a mat-list-item routerLink="/vehicle/vehicles" (click)="onSidenavClose()">
    <mat-icon>commute</mat-icon><span class="nav-caption">Vozila</span>
  </a>
  <a mat-list-item routerLink="/driver/drivers" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon><span class="nav-caption">Vozači</span>
  </a>
  <a mat-list-item routerLink="/currencyExchange/ExchangeRate" (click)="onSidenavClose()">
    <mat-icon>euro_symbol</mat-icon><span class="nav-caption">Kursna lista</span>
  </a>
  <mat-list-item [matMenuTriggerFor]="finance">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Finansije</a>
  </mat-list-item>
  <mat-menu #finance="matMenu">
    <button mat-menu-item routerLink="/sales/SalesInvoices" (click)="onSidenavClose()">Izlazne fakture</button>
    <button mat-menu-item routerLink="/purchase/PurchInvoices" (click)="onSidenavClose()">Ulazne fakture</button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="Quotes">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Nalozi</a>
  </mat-list-item>
  <mat-menu #Quotes="matMenu">
    <button mat-menu-item routerLink="#" (click)="onSidenavClose()">Nalozi transporta -svi</button>
    <button mat-menu-item routerLink="#" (click)="onSidenavClose()">Nalozi - ponuda</button>
    <button mat-menu-item routerLink="#" (click)="onSidenavClose()">Nalozi - realizacija</button>
    <button mat-menu-item routerLink="#" (click)="onSidenavClose()">Nalozi - odbijeno</button>
    <button mat-menu-item routerLink="#" (click)="onSidenavClose()">Nalozi - fakturisano</button>
    <button mat-menu-item routerLink="#" (click)="onSidenavClose()">Nalozi - storno</button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="reports">
      <mat-icon>unfold_more</mat-icon>
      <a matline>Izveštaji</a>
  </mat-list-item>
  <mat-menu #reports="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">Pregled izlaznih faktura</button>
    <button mat-menu-item (click)="onSidenavClose()">Pregled ulaznih faktura</button>
  </mat-menu>
  <a mat-list-item routerLink="/user/users" (click)="onSidenavClose()" *ngIf= "isAdmin === 'true'">
    <mat-icon>face</mat-icon><span class="nav-caption" >Admin- Korisnici</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onLogout()">
    <mat-icon>cancel</mat-icon><span class="nav-caption" >Logout</span>
  </a>
</mat-nav-list>
