<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Kreiraj novo vozilo</mat-card-title>
    <form [formGroup]="vehicleForm" autocomplete="off" novalidate (ngSubmit)="createVehicle(vehicleForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Registarski broj" formControlName="registrationNumber" id="registrationNumber">
            <mat-hint align="end">Max. 20 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Registarski broj je neophodan</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">Prekoračeno 20 karaktera</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="text" placeholder="Maksimalna nosivost u kg." formControlName="maxWeight">
              <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
              <mat-error *ngIf="hasError('maxWeight', 'required')">Maksimalna nosivost je neophodna</mat-error>
          </mat-form-field>
  
          <mat-form-field>
              <input matInput type="number" placeholder="Broj šasije" formControlName="chassisNumber">
              <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
              <mat-error *ngIf="hasError('chassisNumber', 'required')">Broj šasije je neophodan</mat-error>
              <mat-error *ngIf="hasError('chassisNumber', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Tip goriva" formControlName="fuelType">
            <mat-hint align="end">Max. 30 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('fuelType', 'required')">Vrsta goriva je neophodan</mat-error>
            <mat-error *ngIf="hasError('fuelType', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Napomena" formControlName="remark">
            <mat-hint align="end">Max. 250 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('remark', 'maxlength')">Prekoračeno 250 karaktera</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Tip vozila" formControlName="vechicleType">
            <mat-label>Izaberite tip vozila</mat-label>
            <mat-select [(value)]= "selected">
              <mat-option value="Putničko">Putničko</mat-option>
              <mat-option value="Kombi">Kombi</mat-option>
              <mat-option value="Lako teretno">Lako teretno</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('vechicleType', 'required')">Tip vozila je neophodan</mat-error>
            <mat-error *ngIf="hasError('vechicleType', 'maxlength')">Prekoračeno 30 karaktera</mat-error>
          </mat-form-field>

          <mat-checkbox matInput type="text" formControlName="isInactive">Deaktiviraj vozilo</mat-checkbox>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!vehicleForm.valid">Kreiraj</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Otkaži</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>