<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Kreiraj novo vozilo</mat-card-title>
    <form [formGroup]="vehicleForm" autocomplete="off" novalidate (ngSubmit)="createVehicle(vehicleForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Registarski broj" formControlName="name" id="name">
            <mat-hint align="end">Max. 60 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Ime je neophodno</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">Prekoračeno 60 karaktera</mat-error>
          </mat-form-field>
  
          <mat-form-field>
              <input matInput type="text" placeholder="Napomena" formControlName="code">
              <mat-hint align="end">Max. 50 karaktera dužina.</mat-hint>
              <mat-error *ngIf="hasError('code', 'required')">Adresa je neophodna</mat-error>
              <mat-error *ngIf="hasError('code', 'maxlength')">Prekoračeno 50 karaktera</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" [disabled]="!vehicleForm.valid">Kreiraj</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Otkaži</button>
        </mat-card-actions>
    </form>
  </mat-card>
</section>