html,body {
  display: block;
  size: A4;
}
.invoice-box {
  max-width: 2400px;
  margin: auto;
  padding: 25px;
  /* border: 1px solid #eee; */
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 20px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
  border-collapse: collapse;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table .top  td {
  width: 50%;
  text-align: center;
}

.invoice-box table tr.top table td {
  padding-bottom: 15px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 25px;
  color: #333;
  text-align: left;
}
.invoice-box .first-table {
  border: 0;
  border-collapse: collapse;
}

.invoice-box table tr.information table td {
  padding-bottom: 25px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 15px;
}

.invoice-box table tr.item td{
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
.stamp {
  margin-bottom: 20px;
display:flex;
}
.stamp div {
flex: 1;
}

.stamp .stamp-line{
  padding-top: 0px;
  text-align: center;
}

.custHeader .item {
flex: 1;
width: 50%;
}
.custHeader2 {
  display: flex;
}
.custHeader2 .item-3col1 {
  flex: 1;
  width: 35%;
  }
.custHeader2 .item-3col2 {
  flex: 1;
  width: 25%;
  }
.custHeader2 .item-3col3 {
  flex: 2;
  width: 40%;
  }

.custHeader .item p {
  height: auto;
  margin:0;
  padding:0;
  line-height: 20px;
  text-align: left;
}
.custHeader .item span {
  width: 220px;
  float: left;
}
.custHeader .item-3col span {
  width: auto;
  text-align: left;
}

.custHeader .item .invoice-number {
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 15px;
}
.custHeader .item .invoice-number span{
  width: 150px;
  text-align: right;
  margin-right: 30px;
}

.customer-header-data
{
  text-align: center;
  border: 2px solid #000;
  height: 100%;
  padding: 20px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
  }

  .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
  }
}

.invoice-body table th, .invoice-body table td {
  border: 1px solid #000 ;
  border-collapse: collapse;
  padding: 10px;
}

.invoice-body table .no-border *
{
 border: none;
}
.invoice-box table fixed {
  table-layout: fixed; width: 100%;
}
.invoice-box table fixed td,th {
  overflow: hidden;
}
.invoice-box table fixed td:nth-of-type(1) { width: 50%;}
.invoice-box table fixed td:nth-of-type(2) { width: 15%;}
.invoice-box table fixed td:nth-of-type(3) { width: 10%;}
.invoice-box table fixed td:nth-of-type(4) { width: 10%;}
.invoice-box table fixed td:nth-of-type(4) { width: 15%;}

.width5 { width: 5%; }
.width10 { width: 10%; }
.width15 { width: 15%; }
.width20 { width: 20%; }
.width30 { width: 30%; }
.width50 { width: 50%; }
.width60 { width: 60%; }
.width65 { width: 65%; }
.width63 { width: 63%; }
.width70 { width: 70%; }
.width75 { width: 75%; }
/** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}
