<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Ažuriraj kupca</mat-card-title>
    <form [formGroup]="customerForm" autocomplete="off" novalidate (ngSubmit)="updateCustomer(customerForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
          <input matInput type="text" placeholder="Ime kupca" formControlName="name" id="name">
          <mat-hint align="end">Max. 60 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Ime je neophodno</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">Prekoračeno 60 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Adresa kupca" formControlName="address">
            <mat-hint align="end">Max. 50 karaktera dužina.</mat-hint>
            <mat-error *ngIf="hasError('address', 'required')">Adresa je neophodna</mat-error>
            <mat-error *ngIf="hasError('address', 'maxlength')">Prekoračeno 50 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Grad kupca" formControlName="city">
          <mat-hint align="end">Max. 40 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('city', 'required')">Grad je neophodan</mat-error>
          <mat-error *ngIf="hasError('city', 'maxlength')">Prekoračeno 40 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Zemlja kupca" formControlName="country">
          <mat-hint align="end">2 slova za zemlju.</mat-hint>
          <mat-error *ngIf="hasError('country', 'required')">Zemlja je neophodna</mat-error>
          <mat-error *ngIf="hasError('country', 'maxlength')">Prekoračeno 2 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Telefon kupca" formControlName="phoneNo">
          <mat-hint align="end">Max. 40 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('phoneNo', 'required')">Telefon je neophodan</mat-error>
          <mat-error *ngIf="hasError('phoneNo', 'maxlength')">Prekoračeno 40 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="EMail kupca" formControlName="email">
          <mat-hint align="end">Max. 50 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('email', 'required')">EMail je neophodan</mat-error>
          <mat-error *ngIf="hasError('email', 'maxlength')">Prekoračeno 50 karaktera</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Valuta plaćanja" formControlName="paymentCurrency">
          <mat-hint align="end">Broj dana za odloženo plaćanje.</mat-hint>
          <mat-error *ngIf="hasError('paymentCurrency', 'required')">Valuta plaćanja</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="PDV Broj" formControlName="vatNumber">
          <mat-hint align="end">Max. 50 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('vatNumber', 'required')">PDV Broj je neophodan</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Matični broj" formControlName="personalIdNumber">
          <mat-hint align="end">Max. 50 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('personalIdNumber', 'required')">Matični Broj je neophodan</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Napomena</mat-label>
          <textarea matInput type="text" placeholder="Napomena" formControlName="note"></textarea>
          <mat-hint align="end">Max. 250 karaktera dužina.</mat-hint>
          <mat-error *ngIf="hasError('note', 'maxlength')">Prekoračeno 250 karaktera</mat-error>
        </mat-form-field>

        <mat-checkbox matInput type="text" formControlName="isInactive">Deaktiviraj kupca</mat-checkbox>


      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!customerForm.valid">Izmeni</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Otkaži</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
