<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div>
    <a [routerLink]="['/user/create']" mat-button color="primary">Kreiraj korisnika</a>
  </div>
</div>
<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime i prezime</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Korisnik </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="isAdmin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Administrator </th>
    <td mat-cell *matCellDef="let element"> {{element.isAdmin |transformboolean}} </td>
  </ng-container>

  <ng-container matColumnDef="isInactive">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Neaktivan </th>
    <td mat-cell *matCellDef="let element"> {{element.isInactive |transformboolean}} </td>
  </ng-container>

  <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Izmena </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 50, 100, 500]">
</mat-paginator>
