<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
  <input type="hidden"  name="invoiceNo" #InvoiceNo="ngModel" [(ngModel)]="service.formData.invoiceNo">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Broj ulazne fakture</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input name="invoiceNo" #invoiceNo="ngModel" [(ngModel)]="service.formData.invoiceNo" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label>Dobavljač</label>
        <select name="vendorId" #vendorId="ngModel" [(ngModel)]="service.formData.vendorId" class="form-control"
        [class.is-invalid]="!isValid && service.formData.vendorId==0">
          <option value="0">-Izaberite-</option>
          <option *ngFor="let item of vendorList" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Valuta</label>
        <select name="currencyId" #currencyId="ngModel" [(ngModel)]="service.formData.currencyId" class="form-control"
        [class.is-invalid]="!isValid && service.formData.currencyId==0">
          <option value="0">-Izaberite-</option>
          <option *ngFor="let item of currencyList" value="{{item.id}}">{{item.code}}</option>
        </select>
      </div>

      <!---<div class="form-group">
        <label>Datum dospeća</label>
        <input type ="date" name="dueDate" #dueDate="ngModel" [(ngModel)]="service.formData.dueDate" class="form-control"/>
      </div>  -->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Datum dospeca"  [(ngModel)]= "service.formData.dueDate" name="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <!--<div class="form-group">
        <label>Datum knjiženja</label>
        <input type ="date" name="postingDate" #postingDate="ngModel" [(ngModel)]="service.formData.postingDate" class="form-control"/>
      </div> -->
      <mat-form-field>
        <input matInput [matDatepicker]="pickerposting" placeholder="Datum Knjizenja"  [(ngModel)]= "service.formData.postingDate" name="postingDate">
        <mat-datepicker-toggle matSuffix [for]="pickerposting"></mat-datepicker-toggle>
        <mat-datepicker #pickerposting></mat-datepicker>
      </mat-form-field>
      <div class="form-group">
        <label>Vaša referenca</label>
        <input type ="text" name="externalReferenceNo" #externalReferenceNo="ngModel" [(ngModel)]="service.formData.externalReferenceNo" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Ukupno</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">EUR/din</div>
          </div>
          <input name="totalAmount" #totalAmount="ngModel" [(ngModel)]="service.formData.totalAmount" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label>Plaćeno</label>
        <input type ="checkbox" name="paid" #paid="ngModel" [(ngModel)]="service.formData.paid" class="form-control"/>
      </div>
    </div>
  </div>
  <!-- Invoice line table-->
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>Opis</th>
      <th>Cena</th>
      <th>Količina</th>
      <th>Suma</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="AddOrEditInvoiceLine(null,service.formData.invoiceNo)"><i class="fa fa-plus"></i> Dodaj stavku</a>
      </th>
    </thead>
    <tbody>
      <tr *ngIf="service.PurchInvLines.length==0" [class.text-danger]="!isValid && service.PurchInvLines.length==0">
        <td class="font-italic text-center" colspan="5">
          Nema stavki za ovu fakturu.
        </td>
      </tr>

      <tr *ngFor="let item of service.PurchInvLines;let i=index;">
        <td>{{item.description}}</td>
        <td>{{item.unitPrice}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.lineAmount}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddOrEditInvoiceLine(i,service.formData.invoiceNo)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteInvoiceLine(item.id,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-3">
    <div class="form-group">l
      <label>Proknjiženo</label>
      <input type ="checkbox" name="Invoiced" #Invoiced="ngModel" [(ngModel)]="service.formData.invoiced" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Stornirano</label>
      <input type ="checkbox" name="CreditMemo" #CreditMemo="ngModel" [(ngModel)]="service.formData.creditMemo" class="form-control"/>
    </div>
    <!--<div class="form-group">
      <label>Datum plaćanja</label>
      <input type ="date" name="PaymentDate" #PaymentDate="ngModel" [(ngModel)]="service.formData.PaymentDate" class="form-control"/>
    </div> -->
    <mat-form-field>
      <input matInput [matDatepicker]="pickerpayment" placeholder="Datum placanja"  [(ngModel)]= "service.formData.paymentDate" name="paymentdate">
      <mat-datepicker-toggle matSuffix [for]="pickerpayment"></mat-datepicker-toggle>
      <mat-datepicker #pickerpayment></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Snimi Fakturu</button>
    <a class="btn btn-outline-dark ml-1" routerLink="/purchase/PurchInvoices"><i class="fa fa-table"></i> Pregled ulaznih faktura</a>
  </div>
</form>