<h4 class="dispaly-4">Stavka ulazne fakture</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="id" #id="ngModel" [(ngModel)]="formData.id">
    <input type="hidden"  name="purchInvHeaderid" #purchInvHeaderid="ngModel" [(ngModel)]="formData.purchInvHeaderid">
  <input type="hidden"  name="description" #description="ngModel" [(ngModel)]="formData.description">

  <div class="form-group">
    <label>Opis usluge</label>
    <input name="description" #description= "ngModel" [(ngModel)]="formData.description" class="form-control">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Cena</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">EUR/din</div>
        </div>
        <input name="unitPrice" #unitPrice="ngModel" [(ngModel)]="formData.unitPrice" class="form-control">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Koli?ina</label>
      <input name="quantity" #quantity="ngModel" [(ngModel)]="formData.quantity" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.quantity==0">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>% Popusta</label>
      <div class="input-group">
        <input name="discountPercent" #discountPercent="ngModel" [(ngModel)]="formData.discountPercent" class="form-control">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>% PDV</label>
      <input name="vatPercent" #vatPercent="ngModel" [(ngModel)]="formData.vatPercent" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid">
    </div>
  </div>

  <div class="form-group">
    <label>Broj putnog naloga</label>
    <input name="travelOrder" #travelOrder = "ngModel" [(ngModel)]="formData.travelOrder" class="form-control">
  </div>

  <div class="form-group">
    <label>Napomena</label>
    <input name="remark" #remark= "ngModel" [(ngModel)]="formData.remark" class="form-control">
  </div>

  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Ukupna suma</div>
      </div>
      <input name="lineAmount" #lineAmount="ngModel" [(ngModel)]="formData.lineAmount" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Snimi</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Zatvori</button>
  </div>
</form>
