<h4 class="dispaly-4">Stavka izlazne fakture</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="id" #OrderItemID="ngModel" [(ngModel)]="formData.id">
    <input type="hidden"  name="salesHeaderId" #salesHeaderId="ngModel" [(ngModel)]="formData.salesHeaderId">
  <input type="hidden"  name="description" #description="ngModel" [(ngModel)]="formData.description">

  <div class="form-group">
    <label>Opis usluge</label>
    <input name="description" #description= "ngModel" [(ngModel)]="formData.description" class="form-control">
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Cena</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">EUR/din</div>
        </div>
        <input name="unitPrice" #unitPrice="ngModel" [(ngModel)]="formData.unitPrice" class="form-control">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Količina</label>
      <input name="quantity" #quantity="ngModel" [(ngModel)]="formData.quantity" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.quantity==0">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>% Popusta</label>
      <div class="input-group">
        <input name="discountPercent" #discountPercent="ngModel" [(ngModel)]="formData.discountPercent" class="form-control"
        (keyup)="updateTotal()">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>% PDV</label>
      <input name="vatPercent" #vatPercent="ngModel" [(ngModel)]="formData.vatPercent" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid">
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">EUR/din</div>
      </div>
      <input name="lineAmount" #lineAmount="ngModel" [(ngModel)]="formData.lineAmount" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <label>Napomena</label>
    <input name="remark" #remark= "ngModel" [(ngModel)]="formData.remark" class="form-control">
  </div>
  
  <div class="form-row">
    <!-- <div class="form-group col-md-6">
      <label>Datum utovara</label>
      <div class="input-group">
        <input type="date" name="loadDate" #loadDate="ngModel" [ngModel] = "formData.loadDate | date: 'dd.MM.yyyy'" (ngModelChange)= "formdate.loadDate = $event" class="form-control">
      </div>
    </div> -->
    <!-- <div class="form-group col-md-6">
      <label>Datum istovara</label>
      <input type="date" name="unloadDate" #unloadDate="ngModel" [ngModel] = "formData.unloadDate | date: 'dd.MM.yyyy'" (ngModelChange)= "formdate.unloadDate = $event" class="form-control">
    </div> -->
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Izvozna carinarnica</label>
      <div class="input-group">
        <input name="exportCustoms" #exportCustoms="ngModel" [(ngModel)]="formData.exportCustoms " class="form-control">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Uvozna carinarnica</label>
      <input name="importCustoms" #importCustoms="ngModel" [(ngModel)]="formData.importCustoms" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Snimi</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Zatvori</button>
  </div>
</form>